@import url('../../pages/global/header.css');
@import url('../../pages/global/footer.css');


/*!==================> BANNER <====================*/
.banner{
    position: relative;
}
.menu-oucuto{
    background-color: rgba(0, 0, 0, 0.753);
    position: absolute;
    right: 0;
    top: 0;
    padding: 3rem;
    display: none;
}
.menu-oucuto ul li{
    list-style: none;
}
.menu-oucuto ul{
    flex-direction: column;
}
.banner__img-wrapper {
    margin: 0;
}

.banner__img {
    max-width: 100%;
}

.banner__img-descricao {
    max-width: 1200px;
    color: var(--grafite, #222);
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 110px auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.ofertas {
    margin-bottom: 112px;
}

.depoimentos__titulo,
.pagamento__titulo,
.destinos__titulo,
.busca__titulo,
.ofertas__titulo {
    color: var(--grafite);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-bottom: 64px;
}

.depoimentos__titulo--sublinhado,
.pagamento__titulo--sublinhado,
.destinos__titulo--sublinhado,
.busca__titulo--sublinhado,
.ofertas__titulo--sublinhado {
    width: 180px;
    height: 4px;
    background: var(--vermelho);
    margin: 0 auto;
    margin-top: 16px;
}

img {
    max-width: 100%;
}

.ofertas__cards--grupo {
    display: flex;
    gap: 24px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.ofertas__cards--item {
    display: flex;
    padding: 24px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 16px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 24px 32px;
    color: var(--branco);
    flex: 1 0 calc(50% - 48px);
    box-sizing: border-box;
    text-align: center;
}

.ofertas__cards--japao {
    background-image: url("../img/tokyo.png");
}

.ofertas__cards--san-andreas {
    background-image: url("../img/san-andreas.png");
}

.ofertas__cards--paraiba {
    background-image: url("../img/paraiba.png");
}

.ofertas__cards--manaus {
    background-image: url("../img/manaus.png");
}

.ofertas__card--destino-tipo {
    color: var(--branco, #FFF);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 8px;
}

.ofertas__card--destino-nome {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.ofertas__card--preco {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
}

.destinos__item--botao,
.ofertas__card--botao {
    border-radius: 8px;
    background: var(--vermelho, #B81515);
    padding: 16px 48px;
    box-sizing: border-box;
    display: inline-block;
}

.destinos__item--botao-texto,
.ofertas__card--botao-texto {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    color: var(--branco, #FFF);
}

.busca__categorias {
    display: flex;
    align-items: stretch;
    gap: 24px;
    margin-bottom: 112px;
}

.busca__categoria {
    color: var(--grafite, #222);
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 8px;
    background: var(--cinza-claro, #F5F5F5);
    padding: 24px 16px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

span.material-symbols-outlined {
    color: var(--cinza-escuro, #8C8C8C);
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.destinos__lista {
    display: flex;
    align-items: stretch;
    gap: 24px;
    margin-bottom: 112px;
}

.destinos__item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.destinos__item--image {
    max-width: 100%;
}

.destinos__item--nome {
    color: var(--grafite, #222);
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 24px 0;
}

.destinos__item--descricao {
    color: var(--grafite, #222);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 24px;
}

.pagamento {
    margin-bottom: 112px;
}

.pagamento__imagens--grupo,
.pagamento__condicoes {
    display: flex;
    gap: 24px;
}

.pagamento__condicoes--destaque {
    color: var(--grafite, #222);
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
}

.pagamento__condicoes--detalhes {
    color: var(--grafite, #222);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 384px;
    max-width: 100%;
}

.pagamento__imagens--imagem-container {
    flex: 1;
}

.pagamento__imagens--imagem-destaque {
    margin-top: 20px;
}

.pagamento__imagens--imagem {
    max-width: 100%;
}

.depoimentos {
    margin-bottom: 112px;
}

.depoimentos__wrapper {
    display: flex;
    gap: 24px;
    align-items: stretch;
}

.depoimentos__item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.depoimentos__texto {
    color: var(--grafite, #222);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.depoimentos__autor {
    margin-top: 12px;
    display: flex;
    gap: 24px;
}

.depoimentos__autor--foto {
    max-width: 86px;
}

.depoimentos__autor--nome {
    color: var(--grafite, #222);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 8px;
}

.container{
    max-width: 75rem;
    width: 100%;
}


/*! ================>  FOOTER <====================*/

.img-footer{
    background-image: url('./imgs/Imagem-footer.png');
    background-size: cover;
    background-position: center;
    min-height: 37.5rem;
    margin-top: 6.5rem;
}
footer{
    margin-top: 0;
}

/*! ================>  RESPONSIVIDADE <====================*/

@media (max-width: 1024px) {
    .container{
        padding: 0 2rem;
        height: 100%;
    }
}


/*! ================>  TABLET <====================*/

@media (max-width: 768px) {
    .container, .grid{
        padding: 0;
        max-width: 40.5rem;
    }
    .header-menu{
        display: none;
    }
    .header-menu-amburger{
        display: flex;
    }
    [href="#"]{
        border: none;
    }
   .banner__img{
        height: 38.75rem;
   }
   .ofertas__cards--item{
    width: 19.5rem;
   }
 
   .busca__categorias{
    flex-flow: row wrap;
   }
   .busca__categoria{
     height: 13.75rem;
     min-width: 19.3rem;
   }
   .destinos__lista{
    flex-direction: column;
    gap: 2.5rem;
   }
   .destinos__item--image{
    max-height: 28.25rem;
   }
   .pagamento__condicoes{
        flex-direction: column;
   }
   .depoimentos__wrapper{
        flex-direction: column;
   }
   .pre-footer__image{
        height: 25rem;
   }
   footer{
    max-height: 18.75rem;
    min-height: 18.75rem;
    padding: 2rem 0;
   }
   footer .container {
        height: 100%;
    }
   .footer-container{
    height: 100%;
   }
}

/*! ================>  SMART PHONE <====================*/

@media (max-width: 425px) {
    .container, .grid{
        padding: 1rem;
    }
    .header-logo{
        display: none;
    }
    .header-logo-reduzido{
        display: flex;
    }
    
    .banner__img{
        max-height: 25rem;
   }
}

@media (max-width: 320px) {
    .container{
        padding: 0 2rem;
    }
}